{% extends "base.html" %}

{% block content %}

<h4>パスワード再登録</h4>
<hr>
<p>再登録されるパスワードを入力の上、送信を押下してください。</p>
<br>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    <br>
    {% endfor %}
  <button type="submit" class="set-answer btn bg-secondary text-white p-1">送信</button>
</form>

{% endblock %}
