{% extends 'base.html' %}
{% load markdownize %}

{% block content %}

<h4>削除確認</h4>
<hr>

<form method="post">
  {% csrf_token %}
  <p>以下の質問を削除しますか？</p>
  <input type="submit" value="削除する">
</form>
<br>

<div class="fs20 font-weight-bold">
  {{ question.title }}
</div>

<div class="detail-info">
  <div class="row">
    <div class="col-3">
    <div class="fs12 bg-secondary text-white d-inline p-1">
      {{ question.get_status_display }}
    </div>
    </div>
    <div class="col-2">
    <div class="fs12 ">
      回答数：{{ question.answer_set.count }}
    </div>
    </div>
    <div class="col-3">
      <div class="fs12">
      <a href="{% url 'users:user_detail' question.author.username %}">
        <p>@{{ question.author.username }}</p>
      </a>
      </div>
    </div>
    <div class="col-4">
    <div class="fs12 text-right">
      {{ question.created_at }}に投稿
    </div>
    </div>
  </div>
</div>

<div class="detail-text">
  <p>{{ question.text | markdown_to_html_with_escape }}</p>
</div>

{% endblock %}
